<h1>Editar Usuário</h1>

<%# Exibe uma lista de erros ao usuário, caso houver %>
<% if @user.errors.any? %>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>

<%= form_with(url: users_backoffice_profile_path, model: @user, local: true) do |form| %>
    <div class="row">
        <div class="col-md-6 mb-3">
            <%= form.label :first_name, class:"form-label" %>
            <%= form.text_field :first_name, class:"form-control" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <%= form.label :last_name, class:"form-label" %>
            <%= form.text_field :last_name, class:"form-control" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <%= form.label :email, class:"form-label" %>
            <%= form.text_field :email, class:"form-control", readonly: true %>
        </div>
    </div>
    <%= form.fields_for :user_profile do |profile_form| %>
        <div class="row">
            <div class="col-md-6 mb-3">
                <%= profile_form.label :address, class:"form-label" %>
                <%= profile_form.text_field :address, class:"form-control" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <%= profile_form.label :gender, class:"form-label" %>
                <div class="form-check">
                    <%= profile_form.radio_button :gender, "M", class:"form-check-input" %>
                    <label class="form-check-label">
                        Masculino
                    </label>
                </div>
                <div class="form-check">
                    <%= profile_form.radio_button :gender, "F", class:"form-check-input" %>
                    <label class="form-check-label">
                        Feminino
                    </label>
                </div>
                <div class="form-check">
                    <%= profile_form.radio_button :gender, "X", class:"form-check-input" %>
                    <label class="form-check-label">
                        Outro
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <%= profile_form.label :birthdate, class:"form-label" %>
                <%= profile_form.text_field :birthdate, class:"form-control" %>
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-6 mb-3">
            <%= form.label :password, class:"form-label" %>
            <%= form.password_field :password, class:"form-control", placeholder:"Alterar senha atual" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <%= form.label :password_confirmation, class:"form-label" %>
            <%= form.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação da nova senha" %>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
<% end %>