<h6 class="mb-3">
    <%= msg_jumbotron %>
</h6>

<% @questions.each do |question| %>
    <%# 
        local: true - o controller processa uma view .html.erb
        local: false - o controller processa uma view .js.erb
    %>
    <%= form_with url: site_answer_path do |form| %>
        <div class="card border-light mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= question.description %></h5>
                <%= link_to question.subject.description, site_search_subject_path(question.subject_id, question.subject.description),
                                                          class:"card-subtitle mb-5 text-body-secondary" %>
                <ul>
                    <% question.answers.each do |answer| %>
                        <li style="list-style:none;">
                            <div class="form-check">
                                <%= radio_button_tag 'answer_id', answer.id, false, class:"form-check-input" %>
                                <label class="form-check-label">
                                    <%= answer.description %>
                                </label>
                            </div>
                        </li>
                    <% end %>
                    <li style="list-style:none;">
                        <%= form.submit "Responder", class:"btn btn-outline-primary btn-sm mt-3", id:"submit_#{question.id}" %>
                    </li>
                </ul>
                
            </div>
        </div>
    <% end %>
<% end %>

<div class="text-center">
    <%= paginate @questions %>
</div>