<!DOCTYPE html>
<html>
  <head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# O uso desse layout é especificado em app/controllers/admins_backoffice/welcome_controller.rb %>
    <h1>Passou por layout admins_backoffice</h1>
    <%= yield %>
  </body>
</html>
